* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 150%;
}

body {
    width: 100%;
    box-sizing: border-box;
}

/* slider */
.slider {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 7vh 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

nav {
    display: flex;
    flex-direction: row;
    height: 7vh;
    justify-content: space-around;

    z-index: 2;
    grid-row: 1/2;
    grid-column: 1/6;
}

ul {
    text-decoration: none;
    list-style-type: none;
    
    display: flex;
    flex-direction: row;

    cursor: pointer;
}

nav > ul > li {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1vw;
    font-weight: bold;
    opacity: .6;
    transition: 0.2s;
    transition-property: color, transform;
    padding: .5rem;
}

nav > ul > li:hover {
    color: tomato;
    transform: scale(1.3);
    cursor: pointer;
}

nav > ul > li:first-child {
    color: tomato;
}

.white {
    background-color: #fff;
    opacity: 0.7;

    z-index: 1;
    grid-row: 1/2;
    grid-column: 1/6;
} /* nav */

.slider > img {
    grid-column: 1/6;
    grid-row: 1/6;

    overflow: hidden;
}

.overlay {
    grid-column: 1/6;
    grid-row: 2/6;

    background-color: rgba(0, 0, 0, 0.3);
}

h1.sheader {
    color: white;
    font-size: 5rem;
    grid-column: 2/5;
    text-align: center;
    grid-row: 3/4;
}

p.scontent {
    color: white;
    grid-column: 2/5;
    grid-row: 4/5;
}

/* posts */
.posts {
    margin: 5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.posts > h1 {
    font-size: 3rem;
    opacity: 0.7;
}

.p-container {
    /* margin: 1rem 2rem; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    column-gap: 3rem;
    row-gap: 3rem;
    width: 100%;
    box-sizing: border-box;
}

.p-container > .p-articles {
    height: 200px;
    width: 200px;

    background-color: tomato;
}

/* Hero Content */
.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 5rem 0;
}

.hero-content > h1 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.h-container {
    display: grid;
    grid-template-columns: repeat(11, 4rem);
    grid-template-rows: 2rem 1fr 2rem 2rem;
}

.h-container > * {
    display: inline-block;
    height: 11rem;
    width: 11rem;
    border-radius: 100%;
}

.c1 {
    grid-row: 1/4;
    grid-column: 1/3;
    background-color: #33ccff;
    text-align: end;
}

.c2 {
    grid-row: 2/5;
    grid-column: 3/5;
    background-color: #ff99cc;
}

.c3 {
    grid-row: 1/4;
    grid-column: 5/7;
    background-color: #33ccff;
    text-align: right;
}

.c4 {
    grid-row: 2/5;
    grid-column: 7/9;
    background-color: #ff99cc;
}

.c5 {
    grid-row: 1/4;
    grid-column: 9/10;
    background-color: #33ccff;
}

.c1, .c2, .c3, .c4, .c5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c1:hover, .c2:hover, .c3:hover, .c4:hover, .c5:hover {
    z-index: 1;
    font-size: 1.4rem;
}

/* footer */

footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1rem 8fr 2fr;

    height: 50vh;
    width: 100%;
    background-color: black;
    color: white;
}

footer > article {
    margin: 1rem 3rem;
    grid-row: 2/2;
}

.about {
    grid-column: 1/2;
}

.recent , .categories, .about {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.about > p {
    opacity: .8;
}

.categories > ul {
    grid-column: 2/3;
}

.recent > ul {
    grid-column: 3/4;
}

.categories > ul, .recent > ul {
    display: flex;
    flex-direction: column;
}

.categories > ul > li, .recent > ul > li {
    margin-bottom: .1rem;
    opacity: .8;
}

.c-bottom {
    grid-row: 3/4;
    grid-column: 1/4;

    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-bottom > p {
    color: black;
}

@media (max-width: 600px) {
    .slider > img {
        grid-column: 1/6;
        grid-row: 1/6;    
    }

    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 3fr 1fr 1fr .3fr;
    }

    footer > article {
        grid-column: 1/3;
    }

    footer > .about {
        grid-row: 1/2;
    }

    footer > .categories {
        grid-row: 2/3;
    }

    footer > .recent {
        grid-row: 3/4;
    }

    footer > .c-bottom {
        grid-row: 4/5;
    }
}